.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #923CB5, 0 0 40px #923CB5, 0 0 50px #923CB5, 0 0 60px #923CB5, 0 0 70px #923CB5;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #7552ce, 0 0 40px #7552ce, 0 0 50px #7552ce, 0 0 60px #7552ce, 0 0 70px #7552ce, 0 0 80px #7552ce;
    }
  }